<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{sight.name}}</h5>
    <p class="card-text">{{sight.descr}}</p>
  </div>
  <div class="card-body">
    <a-scene ng-attr-id="{{sight.id}}" class="aframebox parent" embedded>
      <input #playBtn type="image" id="play-button" src="../../assets/btn/{{btnImage}}.png" (click)="onVideoClick()">
      <!-- <button id="play-button" class="child" (click)="onVideoClick()"></button> -->
      <!-- The original example also has this 180 degree rotation, to appear to be going forward. -->
      <a-videosphere rotation="0 180 0" src="#video"
                     play-on-window-click
                     play-on-vrdisplayactivate-or-enter-vr (click)="onVideoClick()">
      </a-videosphere>

      <!-- Wait for the video to load. -->
      <a-assets>
        <!-- Single source video. -->
        <video #video id="video" style="display:none"
               crossorigin="anonymous" playsinline webkit-playsinline>
          <!-- MP4 video source. -->
          <source type="video/mp4"
               src="{{sight.vrfile}}" />
        </video>
      </a-assets>
    </a-scene>
  </div>
  <div class="card-body">
    <a href="{{sight.mapsLink}}" class="card-link" target="_blank">Google Maps</a>
  </div>
</div>
