/* You can add global styles to this file, and also import other style files */
html{
  background-color: #aacbff;
  height: 100%;
  height: auto;
}

body{
  background-color: white;
  min-height: 100vh;
  height: auto;
}

header{
  background-color: white;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  body{
    margin: 0%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    margin-left: 15%;
    margin-right: 15%;
  }
}
